<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ko-KR' }}">
{% include head.html %}
<body>
    <main role="main">
        <!-- header -->
        {% include header.html %}
        <!-- header -->

        <!-- section -->
        <section class="post-list">
            <h2 class="d-none">Posts</h2>
            <ul class="container-fluid">
                {% for post in site.posts %}
                <li class="row mb-0 mb-2 mb-sm-0">
                    <a href="{{ post.url | relative_url }}">
                        <time datetime="{{ post.date }}">{{ post.date | date: '%Y.%m.%d' }}</time>
                        <span>{{ post.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <!-- section -->

        <!-- footer -->
        {% include footer.html %}
        <!-- footer -->
    </main>

    {% include script.html %}
</body>
</html>
