<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ko-KR' }}">
{% include head.html %}
<body>
    <main role="main">
        <!-- header -->
        {% include header.html %}
        <!-- header -->

        <!-- section -->
        <section class="post">
            <h1 class="d-none">Tags</h1>
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
            <h3>{{ tag[0] }}</h3>
            <ul>
                {% for post in tag[1] %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </section>
        <!-- section -->

        <!-- disqus -->
        {% if page.comments == true %}
        {% include disqus.html %}
        {% endif %}
        <!-- disqus -->

        <!-- footer -->
        {% include footer.html %}
        <!-- footer -->
    </main>

    {% include script.html %}
</body>
</html>
